@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Poppins:wght@400;600;700&display=swap');

:root {
    --title-font: 'Poppins', sans-serif;
    --link-font: 'Montserrat', sans-serif;
    --font-clr: #242424;
    --accent-clr: #BC4749;
    --bcg-clr: #F2E8CF;
    --clr-20: #A7C957;
    --clr-30: #6A994E;
    --clr-50: #386641;
    --theme-clr: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--theme-clr);
    display: grid;
    grid-template-rows: 50px calc(100% - 50px) 250px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--font-clr);
    font-family: var(--link-font);
    font-weight: 500;
    width: fit-content;
    position: relative;

    &:hover:after {
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: var(--font-clr);
        bottom: -3px;
        left: 0;
        animation: appear 250ms ease forwards;

    }
}

@keyframes appear {
    0%{
        width: 0%;
        opacity: 0;
    }

    25%{
        opacity: 1;
    }

    100%{
        width: 100%;
    }
}


#pageHeader {
    height: 50px;
    background-color: var(--theme-clr);
    opacity: 0.8;
    backdrop-filter: blur(8px);

    ul {
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6vw;
        list-style: none;
        margin: 0;

        a {
            width: fit-content;
            margin: 0 auto;
        }


    }
}
#logo {
    background-color: red;
    height: 50px;
    aspect-ratio: 1;
    position: absolute;
}


#slogan {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        width: fit-content;
        font-size: 2.8rem;
        font-family: var(--title-font);
    }

}
#secondSection {
    background-color: var(--accent-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--title-font);
    flex-direction: column;
    text-align: center;
    color: var(--theme-clr);
    h1 {
        font-weight: 600;
    }
    button {
        padding: 12px 25px;
        font-size: 1.2rem;
        font-family: var(--link-font);
        cursor: pointer;
        margin-top: 20px;
        background-color: var(--bcg-clr);
        border: hidden;
        border-radius: 2px;

    }
}

#fifthSection{
    font-weight: 400;
    background-color: var(--bcg-clr);
    font-family: var(--link-font);
}

#formContainer{
    width: 800px;
    background-color: var(--main-clr);
    height: fit-content;
    margin: 5% auto;
    padding: 1rem;
    box-shadow: 0 0 22px rgba(75, 75, 75, 0.367);
    border-radius: 20px;
    background-color: var(--theme-clr);
    
    h1{
        text-align: center;
        font-weight: 400;
        color: #575757;
    }
}

#contactForm{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 50px;
    
    
}

.secondChoice{
    height: fit-content;

    
        display: block;

        h2{
            font-size: 1.1rem;
            margin: 0;
        }

        label{
            margin-top: 0.3rem;
            display: block;

            i{
                font-style: normal;
            
            }
        }
    
}

#contactInfo{
    display: block;

    > label,input{
        display: block;
        font-weight: 700;
        font-size: 1.1rem;
    }

    input{
        width: 300px; 
        border: 3px solid rgb(210, 210, 210);
        border-radius: 15px;
        margin: 0.2rem 0 0.8rem;
        background-color: var(--main-clr);
        filter: brightness(1.1);
        padding: 12px;
        outline: none;
        font-weight: 400;
        font-size: 1.1rem;
        color: #575757;

        &:focus{
            
            filter: brightness(1);
        }
    }
}

#next{
    background-color: var(--accent-clr);
    width: 100px;
    height: 50px;
    border-radius: 12px;
    outline: none;
    border: none;
    color: white;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 80%;
    box-shadow: 2px 2px 8px #cfcfcfd2;
    transition: filter 150ms ease-out, box-shadow 150ms ease-out;
    filter: brightness(1);

    &:hover{
        box-shadow: 3px 3px 10px #b3b3b3d2;                   
    }

    &:active{
        box-shadow: inset 1px 1px 6px #272727a5;
    }

}

#formStageContainer{
    width: fit-content;
    height: 40px;
    display: 	flex;
    align-items: center;
    
    margin: 1rem auto;
    position: relative;

    .progressItem{
        margin: 6px;
    }
    
    .progressItem:nth-child(even){
        height: 3px;
        background-color: var(--accent-clr);
        width: 170px;
    }

    .progressItem:nth-child(odd){
        height: 15px;
        background-color: var(--accent-clr);
        aspect-ratio: 1;
        border-radius: 50px;
    }

    #tracer{
        width: 30px;
        border: 6px solid var(--accent-clr);
        aspect-ratio: 1;
        position: absolute;
        left: 0;
        border-radius: 50px;
        transition: transform 250ms ease;
        
        &.zero{
            transform: translateX(-7px);
        }

        &.one{
            transform: translateX(202px);
        }

        &.two{
            transform: translateX(411px);
        }

        &.three{
            transform: translateX(620px);
        }
    }
}