@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Poppins:wght@400;700&display=swap');

:root{
    --title-font:'Poppins', sans-serif;
    --link-font : 'Montserrat', sans-serif;
    --font-clr : #242424;
    --accent-clr : #BC4749;
    --bcg-clr :#F2E8CF;
    --clr-20 :#A7C957;
    --clr-30 :#6A994E;
    --clr-50 :#386641;
    --theme-clr : white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--bcg-clr);
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--link-font);
    font-weight: 500;
    width: fit-content;
    position: relative;

    &:hover:after{
        content: '';
        width: 100%;
        position: absolute;
        height: 3px;
        background-color: blue;
        bottom: -3px;
        left: 0;

    }
}



#pageHeader ul {
    width: 100%;
    height: 50px;
    background-color: #ef12ef;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    list-style: none;
    margin: 0;

    a {
        width: fit-content;
        margin: 0 auto;
    }


}

#logo {
    background-color: red;
    height: 50px;
    aspect-ratio: 1;
    position: absolute;
}

#slogan {

    h1 {
        width: fit-content;
        margin: 2rem auto;
        font-family: var(--title-font);
    }

}