@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Poppins:wght@400;700&display=swap');

:root {
    --title-font: 'Poppins', sans-serif;
    --link-font: 'Montserrat', sans-serif;
    --font-clr: #242424;
    --accent-clr: #BC4749;
    --bcg-clr: #F2E8CF;
    --clr-20: #A7C957;
    --clr-30: #6A994E;
    --clr-50: #386641;
    --theme-clr: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--theme-clr);
    display: grid;
    grid-template: 50px  / 1;
}

a {
    text-decoration: none;
    color: var(--font-clr);
    font-family: var(--link-font);
    font-weight: 500;
    width: fit-content;
    position: relative;

    &:hover:after {
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: var(--font-clr);
        bottom: -3px;
        left: 0;
        animation: appear 250ms ease forwards;

    }
}

@keyframes appear {
    0%{
        width: 0%;
        opacity: 0;
    }

    25%{
        opacity: 1;
    }

    100%{
        width: 100%;
    }
}


#pageHeader {

    background-color: var(--theme-clr);
    opacity: 0.8;
    backdrop-filter: blur(8px);

    ul {
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6vw;
        list-style: none;
        margin: 0;

        a {
            width: fit-content;
            margin: 0 auto;
        }


    }
}
#logo {
    background-color: red;
    height: 50px;
    aspect-ratio: 1;
    position: absolute;
}


#slogan {

    h1 {
        width: fit-content;
        margin: 15% auto;
        font-family: var(--title-font);
    }

}